body{
font-family: Arial;
background:#f4f4f4;
margin:0;
}

nav{
background:#003366;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

h1{
text-align:center;
}
